@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
